<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toko Touhou</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-purple-900 text-white text-center">

    {% extends 'base.html' %}
    {% block content %}
    {% include 'navbar.html' %}
    
    <div class="justify-center mt-10">
        <div class="bg-purple-950 py-6">
            <h1 class="text-4xl text-pink-500">Toko Touhou ᗜˬᗜ</h1>
            <h2 class="text-pink-400">Toko ini dikembangkan oleh:</h2>
        </div>
    </div>

    <div class="flex justify-center mt-10">
        <div class="bg-violet-950 text-pink-500 rounded-lg p-6 shadow-lg w-80 text-left">
            <h3 class="text-lg font-bold">{{ identity.nama }}</h3>
            <h3>{{ identity.npm }}</h3>
            <h3>{{ identity.kelas }}</h3>
            <img src="https://i.imgur.com/j6W2Ko4.jpeg" alt="Developer Image" class="mt-4 mx-auto rounded-lg w-48 h-72 hover:scale-110 transition-transform duration-1000">
        </div>
    </div>

    {% if not products.item_entries %}
    <p class="mt-10">Belum ada data item pada toko touhou.</p>
    {% else %}
    <div class="overflow-x-auto mt-10">
        <table class="min-w-full table-auto bg-purple-800 text-pink-300">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b border-pink-500">Item Name</th>
                    <th class="py-2 px-4 border-b border-pink-500">Price</th>
                    <th class="py-2 px-4 border-b border-pink-500">Description</th>
                    <th class="py-2 px-4 border-b border-pink-500">Item Quantity</th>
                    <th class="py-2 px-4 border-b border-pink-500">Item Image</th>
                </tr>
            </thead>
            <tbody>
                {% for item_entry in products.item_entries %}
                <tr class="border-t border-pink-500">
                    <td class="py-2 px-4 border-b border-pink-500">{{ item_entry.name }}</td>
                    <td class="py-2 px-4 border-b border-pink-500">{{ item_entry.price }}</td>
                    <td class="py-2 px-4 border-b border-pink-500">{{ item_entry.description }}</td>
                    <td class="py-2 px-4 border-b border-pink-500">{{ item_entry.quantity }}</td>
                    <td class="py-2 px-4 border-b border-pink-500 flex items-center justify-center">
                        <img src="{{ item_entry.image }}" class="w-20 h-20">
                    </td>
                </tr>

                <tr>
                    <td colspan="5" class="py-2 px-4">
                        <div class="flex space-x-4 justify-center">
                            <a href="{% url 'main:edit_item' item_entry.pk %}">
                                <button class="bg-purple-900 text-pink-400 py-2 px-4 rounded hover:bg-indigo-600">Edit</button>
                            </a>
                            <a href="{% url 'main:delete_item' item_entry.pk %}">
                                <button class="bg-purple-900 text-pink-400 py-2 px-4 rounded hover:bg-red-600">Delete</button>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <div class="mt-10 space-x-4">
        <a href="{% url 'main:create_item_entry' %}">
            <button class="bg-pink-500 text-purple-900 py-2 px-6 rounded hover:bg-pink-600">Add New item Entry</button>
        </a>
        <a href="{% url 'main:logout' %}">
            <button class="bg-pink-500 text-purple-900 py-2 px-6 rounded hover:bg-pink-600">Logout</button>
        </a>
    </div>

    <div class="mt-6">
        <h5 class="text-pink-300">User: {{ user_name }}</h5>
        <h5 class="text-pink-300">Sesi terakhir login: {{ last_login }}</h5>
    </div>

    {% endblock content %}
</body>

</html>