<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
        .card {
            display: inline-block;
            margin: 20px;
        }
    </style>
</head>

<body>
    <h1>Toko ᗜˬᗜ</h1>

    <h3>Toko ini di kembangkan oleh Favian Zhafif Rizqullah Permana (2306274996) PBP-D</h3>

    {% for product in products %}
    <div class="card">
        <h2>{{ product.nama }}</h2>
        <img src={{product.image}}>
        <h2>{{ product.harga}}</h2>
        <p>{{ product.deskripsi }}</p>
        <h3>{{ product.stok }}</h3>

    </div>
    {% endfor %}
</body>

</html>